.post-detail-popup {
  ul {
    padding-left: unset;
  }

  .v-row {
    & + .v-row {
      margin-top: unset !important;
    }

    .v-col {
      padding: unset;
    }
  }

  .address,
  .room-description {
    .v-col {
      & + .v-col {
        margin-left: 16px;
      }
    }
  }

  .required {
    color: red;
  }

  .gender {
    .v-radio {
      margin-right: 16px;
    }
  }

  .v-input__append {
    cursor: pointer;
    opacity: 1 !important;
  }
}
