.v-row {
  margin: 0 !important;

  .v-col {
    padding: unset;
  }
}

.hide-spin-buttons {
  .v-number-input__control {
    display: none;
  }
}

.v-list-item--nav {
  .v-list-item-title {
    line-height: 20px;
  }
}

.mb-22px {
  margin-bottom: 22px;
}

.mt-22px {
  margin-top: 22px !important;
}
